.headerWrap {
  width: 1320px;
  margin: 0 20px;
  padding: 0;
}

.logo {
  width: 220px;
  height: 50px;
  margin: 20px 0px;
}

.personUser {
  width: 60px;
  height: 60px;
  margin: 10px;
  text-align: center;

}
.profile-icon {
  width: 80%;
  height: 80%;
}

.personUser .userName {
  font-family: "fontlight";
}

